body {
	margin: 40px auto;
	max-width: 600px;
	font-size: 16px;
	font-family: Helvetica, sans-serif;
	background-color: darkslateblue;
}

.bg {
	padding: 10px 20px;
	border: 2px solid black;
	background-color: white;
}

h1, h2, h3 {
	padding: 0;
	margin: 0;
	margin-top: 10px;
}

p {
	text-align: justify;
	padding: 0;
	margin: 5px 0;
}
