body {
	margin: 40px auto;
	max-width: 650px;
	font-size: 18px;
	font-family: Helvetica, sans-serif;
	padding: 0 10px
}

h1, h2, h3 {
	padding: 0;
	margin: 0;
	margin-top: 20px;
}

p {
	text-align: justify;
	padding: 0;
	margin: 5px 0;
}
