body {
	font-size: 16px;
	font-family: Helvetica, Arial, sans-serif;
	background: url("../pics/grid.png") repeat;
	background-size: 40px;
	background-attachment: fixed;
  animation: scroll-bg 120s linear infinite;
}

@keyframes scroll-bg {
	from { background-position: 0 0; }
	to { background-position: -100% -100%; }
}

header {
	height: 90px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	gap: 20px;
}

header img {
	height: 100%;
	border: 2px solid black;
}

header div {
	width: 100%;
}

.bg {
	max-width: 576px;
	margin: 0 auto;
	margin-bottom: 20px;
	padding: 20px;
	border: 2px solid black;
	background-color: white;
	box-shadow: rgba(0, 0, 0, 0.3) 15px 15px;
}

h1, h2, h3 {
	padding: 0;
	margin: 0;
}

h2 {
	margin-top: 20px;
}

h3 {
	margin-top: 10px;
}

p {
	text-align: justify;
	padding: 0;
	margin: 5px 0;
}

@media (max-width: 420px) {
	header {
		height: 100px;
	}

	h1 {
		font-size: 24px;
	}
}
