:root {
    /* colors */
	--page-bg:   #2f5f95;
	--header-bg: #1d3f7a;
	--table-bg:  #4a6f9a;
	--code-bg:   #3f5f8a;

	--link:      #b7e0ff;

	--accent0:   #ffd166;
	--accent1:   #ff7a00;

	--fg:        #ffffff;
   
	/* fonts */
	--mono: monospace;
    --sans: Helvetica, Arial, sans-serif;
}

/* body */

html {
	background: url("/art/bg.svg");
	background-size: 1000px;
	background-attachment: fixed;
}

body {
	margin-left: auto;
	margin-right: auto;
	
    color: var(--fg);
	
	font-family: var(--sans);
	font-size: 90%;
	
	max-width: 800px;
}

@media (max-width: 800px) {
    body {
    	margin: 15px;
	}
}

/* header */

header {
	display: flex;
	align-items: center;
	justify-content: center;
}

header img {
	width: 100%;
}

/* nav */

nav ul {
	margin-top: 0;
	padding-left: 0;

	background-color: var(--header-bg);
	border: solid 1px var(--link);

	list-style: none;
	
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 10px;
}

/* main */

main {
	background-color: var(--table-bg);
	border: solid 5px var(--header-bg);
	border-top: none;
}

p {
	padding: 5px;
	padding-left: 10px;
	padding-right: 10px;
	
	margin-top: 0;
	margin-bottom: 5px;
}

a {
	color: var(--link);
	
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

h1, h2, h3 {
	padding: 5px;
	padding-left: 10px;
	padding-right: 10px;
	
	margin-top: 0;
	margin-bottom: 5px;
	
	background:
		linear-gradient(90deg, var(--header-bg) 50%, rgba(0, 0, 0, 0) 100%),
		radial-gradient(circle, var(--link) 1px, var(--header-bg) 1px);
	background-size: 
		100% auto, 
		10px 100%;
    
	font-family: var(--sans);
	text-transform: lowercase;
	font-size: 18px;
}

h1 {
	border-top: none;
}

p img, .calc {
	margin-left: auto;
	margin-right: auto;
	
	display: block;

	border: solid 5px var(--code-bg);
}

p img {
	max-width: 90%;
	max-height: 400px;
}

.calc {
	width: 90%;
	height: 400px;
}

pre {
	padding: 5px;
	
	white-space: pre-wrap;
	overflow-wrap: break-word;
	
	background-color: var(--code-bg);
}

/* footer */

footer {
	margin-top: 10px;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.badges {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 10px;
}

.badges a img {
	image-rendering: pixelated;
}
