:root {
    /* colors */
	--page-bg:   #142038;
	--header-bg: #15233d;
	--table-bg:  #243a5f;
	--code-bg:   #1e3151;

	--link:      #b7e0ff;

	--accent0:   #ffd166;
	--accent1:   #ff7a00;

	--fg:        #cddae7;
   
	/* fonts */
	--mono: monospace;
    --sans: Helvetica, Arial, sans-serif;
}

/* body */

html {
	background: var(--page-bg);
	font-size: 90%;
}

body {
	margin-left: auto;
	margin-right: auto;
	
    color: var(--fg);
	
	font-family: var(--sans);
	
	max-width: 600px;
}

@media (max-width: 600px) {
    body {
    	margin: 15px;
	}
}

/* header */

header {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

header a {
	width: 100%;
	text-decoration: none;
	color: var(--fg);
}

header h1 {
	font-size: 2em;
	margin-bottom: 0;
	padding-left: 0;
	padding-bottom: 0;
	
	background:
		linear-gradient(90deg, var(--page-bg) 50%, rgba(0, 0, 0, 0) 100%),
		radial-gradient(circle, var(--link) 1px, var(--page-bg) 1px);
	background-size: 
		100% auto, 
		10px 100%;
}

header p {
	margin-left: 0;
}

/* nav */

nav ul {
	margin-top: 0;
	padding-left: 0;
	margin-bottom: 10px;

	background-color: var(--header-bg);
	box-shadow: 0 0 1px var(--link);
	border-radius: .25rem;

	list-style: none;
	
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 10px;
}

nav ul li {
	margin: 0;
}

/* main */

main {
	padding-bottom: 10px;

	background-color: var(--table-bg);
	box-shadow: 0 0 1px var(--link);
	border: solid 5px var(--header-bg);
	border-top: none;
	border-radius: .25rem;
}

p {
	margin-top: 0;
	margin-bottom: 10px;
	text-align: justify;
}

a {
	color: var(--link);
	
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

h1, h2, h3 {
	padding: 5px;
	padding-left: 10px;
	padding-right: 10px;
	
	margin-top: 20px;
	margin-bottom: 5px;
	
	background:
		linear-gradient(90deg, var(--header-bg) 50%, rgba(0, 0, 0, 0) 100%),
		radial-gradient(circle, var(--link) 1px, var(--header-bg) 1px);
	background-size: 
		100% auto, 
		10px 100%;
    
	font-family: var(--sans);
	text-transform: lowercase;
	font-size: 18px;
}

h3 {
	font-size: 16px;
}

h1 {
	border-top: none;
}

p img, .calc {
	margin-left: auto;
	margin-right: auto;
	
	display: block;

	border: solid 5px var(--code-bg);
}

p img {
	max-width: 90%;
	max-height: 400px;
}

.calc {
	width: 90%;
	height: 400px;
}

pre {
	padding: 10px;
	
	white-space: pre-wrap;
	overflow-wrap: break-word;
	
	background-color: var(--code-bg);
}

ul, ol {
	margin: 0;
}

li {
	margin-bottom: 5px;
}

li, p {
	margin-left: 10px;
	margin-right: 10px;
}

/* footer */

footer {
	margin-top: 10px;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.badges {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 10px;
	margin-bottom: 5px;
}

.badges a img {
	image-rendering: pixelated;
}

@media (max-width: 600px) {
    .badges a img {
		width: 44px;
		height: 15px;
	}
}

/* code */

.keyword {
	color: pink;
	font-weight: bold;
}

.function {
	color: cyan;
}

.string {
	color: lightgreen;
}

.comment {
	color: lightgray;
	font-style: italic;
}

/* comments */

.giscus, .giscus-frame {
	width: 99%;
}

.giscus {
	margin-top: 10px;
	margin-bottom: 10px;
}
